$particleBaseSize: 35vmin;
$animationDuration: 100s;
$amount: 4;

.background {
  background: #5c9eb3;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

  .particle {
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @for $i from 1 through $amount {
      $particleSize: (random(30) - 15) + $particleBaseSize;

      &:nth-child(#{$i}) {
        color: #636363;
        opacity: random() * 0.4;
        width: $particleSize;
        height: $particleSize;
        border-radius: $particleSize;
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(20) - 10) * 1vw (random(20) - 10) * 1vh;
        $blurRadius: (random() + 0.95) * $particleSize * 0.25;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
